// compiling subroutine
function String.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0 // symbol -> maxLength
pop this 2 // symbol -> _maxLength
push constant 0
pop this 1 // symbol -> _length
push argument 0 // symbol -> maxLength
push constant 0
gt
not
if-goto L1.1
push argument 0 // symbol -> maxLength
call Array.new 1 // subroutine call (function)
pop this 0 // symbol -> _charArray
goto L2.1
label L1.1
label L2.1
push pointer 0 // pushing this
return
// compiling subroutine
function String.dispose 0
push argument 0
pop pointer 0
push this 2 // symbol -> _maxLength
push constant 1
gt
not
if-goto L1.2
push this 0 // symbol -> _charArray
call Array.dispose 1 // subroutine call (method)
pop temp 0
goto L2.2
label L1.2
label L2.2
push argument 0 // symbol -> this
call Memory.deAlloc 1 // subroutine call (function)
pop temp 0
push constant 0
return
// compiling subroutine
function String.length 0
push argument 0
pop pointer 0
push this 1 // symbol -> _length
return
// compiling subroutine
function String.charAt 0
push argument 0
pop pointer 0
push this 0 // symbol -> _charArray (array)
push argument 1 // symbol -> j
add
pop pointer 1
push that 0
return
// compiling subroutine
function String.setCharAt 0
push argument 0
pop pointer 0
push this 0 // symbol -> _charArray (array)
push argument 1 // symbol -> j
add
push argument 2 // symbol -> c
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
// compiling subroutine
function String.appendChar 0
push argument 0
pop pointer 0
push this 1 // symbol -> _length
push this 2 // symbol -> _maxLength
push constant 1
add
lt
not
if-goto L1.3
push this 0 // symbol -> _charArray (array)
push this 1 // symbol -> _length
add
push argument 1 // symbol -> c
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1 // symbol -> _length
push constant 1
add
pop this 1 // symbol -> _length
goto L2.3
label L1.3
label L2.3
push argument 0 // symbol -> this
return
// compiling subroutine
function String.eraseLastChar 0
push argument 0
pop pointer 0
push this 1 // symbol -> _length
push constant 0
gt
not
if-goto L1.4
push this 0 // symbol -> _charArray (array)
push this 1 // symbol -> _length
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 1 // symbol -> _length
push constant 1
sub
pop this 1 // symbol -> _length
goto L2.4
label L1.4
label L2.4
push constant 0
return
// compiling subroutine
function String.intValue 5
push argument 0
pop pointer 0
push constant 0 // pushing false
pop local 4 // symbol -> terminate
push constant 1
pop local 3 // symbol -> sign
push constant 0
pop local 0 // symbol -> val
push constant 0
pop local 1 // symbol -> i
push constant 0
pop local 2 // symbol -> d
push this 0 // symbol -> _charArray (array)
push constant 0
add
pop pointer 1
push that 0
push constant 45
eq
not
if-goto L1.5
push constant 1
pop local 1 // symbol -> i
push constant 1
neg
pop local 3 // symbol -> sign
goto L2.5
label L1.5
label L2.5
label L1.6
push local 1 // symbol -> i
push this 1 // symbol -> _length
lt
push local 4 // symbol -> terminate
push constant 1 // pushing true
neg // pushing true
eq
or
not
if-goto L2.6
push this 0 // symbol -> _charArray (array)
push local 1 // symbol -> i
add
pop pointer 1
push that 0
pop local 2 // symbol -> d
push local 2 // symbol -> d
push constant 47
gt
push local 2 // symbol -> d
push constant 58
lt
and
not
if-goto L1.7
push local 0 // symbol -> val
push constant 10
call Math.multiply 2
push local 2 // symbol -> d
push constant 48
sub
add
pop local 0 // symbol -> val
push local 1 // symbol -> i
push constant 1
add
pop local 1 // symbol -> i
goto L2.7
label L1.7
push constant 1 // pushing true
neg // pushing true
pop local 4 // symbol -> terminate
label L2.7
goto L1.6
label L2.6
push local 0 // symbol -> val
push local 3 // symbol -> sign
call Math.multiply 2
pop local 0 // symbol -> val
push local 0 // symbol -> val
return
// compiling subroutine
function String.setInt 0
push argument 0
pop pointer 0
push constant 0
pop this 1 // symbol -> _length
push argument 1 // symbol -> val
push constant 0
lt
not
if-goto L1.8
push argument 1 // symbol -> val
call Math.abs 1 // subroutine call (function)
pop argument 1 // symbol -> val
push pointer 0
push constant 45
call String.appendChar 2 // subroutine call (method)
pop temp 0
goto L2.8
label L1.8
label L2.8
push pointer 0
push argument 1 // symbol -> val
call String.int2string 2 // subroutine call (method)
pop temp 0
push constant 0
return
// compiling subroutine
function String.int2string 3
push argument 0
pop pointer 0
push argument 1 // symbol -> val
push constant 10
call Math.mod 2 // subroutine call (function)
pop local 0 // symbol -> lastDigit
push local 0 // symbol -> lastDigit
push constant 48
add
pop local 2 // symbol -> c
push argument 1 // symbol -> val
push constant 10
lt
not
if-goto L1.9
push pointer 0
push local 2 // symbol -> c
call String.appendChar 2 // subroutine call (method)
return
goto L2.9
label L1.9
push pointer 0
push argument 1 // symbol -> val
push constant 10
call Math.divide 2
call String.int2string 2 // subroutine call (method)
pop temp 0
push pointer 0
push local 2 // symbol -> c
call String.appendChar 2 // subroutine call (method)
return
label L2.9
// compiling subroutine
function String.newLine 0
push constant 128
return
// compiling subroutine
function String.backSpace 0
push constant 129
return
// compiling subroutine
function String.doubleQuote 0
push constant 34
return
