// compiling subroutine
function Math.init 0
push constant 1
pop static 0 // symbol -> n
push constant 16
call Array.new 1 // subroutine call (function)
pop static 2 // symbol -> tempBin
call Math.resetTempBinArray 0 // subroutine call (function)
pop temp 0
push constant 15
call Array.new 1 // subroutine call (function)
pop static 1 // symbol -> powersOfTwo
push static 1 // symbol -> powersOfTwo (array)
push constant 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 1
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 2
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 3
add
push constant 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 4
add
push constant 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 5
add
push constant 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 6
add
push constant 64
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 7
add
push constant 128
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 8
add
push constant 256
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 9
add
push constant 512
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 10
add
push constant 1024
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 11
add
push constant 2048
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 12
add
push constant 4096
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 13
add
push constant 8192
pop temp 0
pop pointer 1
push temp 0
pop that 0
push static 1 // symbol -> powersOfTwo (array)
push constant 14
add
push constant 16384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
// compiling subroutine
function Math.multiply 3
push constant 0
pop local 0 // symbol -> i
push constant 0
pop local 1 // symbol -> sum
push argument 0 // symbol -> x
pop local 2 // symbol -> shiftedx
push argument 1 // symbol -> y
call Math.obtainTwosComplementBin 1 // subroutine call (function)
pop temp 0
label L1.1
push local 0 // symbol -> i
push constant 16
eq
not
not
if-goto L2.1
push local 0 // symbol -> i
call Math.bit 1 // subroutine call (function)
push constant 1 // pushing true
neg // pushing true
eq
not
if-goto L1.2
push local 1 // symbol -> sum
push local 2 // symbol -> shiftedx
add
pop local 1 // symbol -> sum
goto L2.2
label L1.2
label L2.2
push local 2 // symbol -> shiftedx
push local 2 // symbol -> shiftedx
add
pop local 2 // symbol -> shiftedx
push local 0 // symbol -> i
push constant 1
add
pop local 0 // symbol -> i
goto L1.1
label L2.1
push local 1 // symbol -> sum
return
// compiling subroutine
function Math.divide 2
push constant 1
pop local 0 // symbol -> sign
push argument 0 // symbol -> x
push constant 0
lt
not
if-goto L1.3
push argument 0 // symbol -> x
neg
pop argument 0 // symbol -> x
push local 0 // symbol -> sign
neg
pop local 0 // symbol -> sign
goto L2.3
label L1.3
label L2.3
push argument 1 // symbol -> y
push constant 0
lt
not
if-goto L1.4
push argument 1 // symbol -> y
neg
pop argument 1 // symbol -> y
push local 0 // symbol -> sign
neg
pop local 0 // symbol -> sign
goto L2.4
label L1.4
label L2.4
push argument 0 // symbol -> x
push argument 1 // symbol -> y
call Math.divideRecursively 2 // subroutine call (function)
pop local 1 // symbol -> res
push local 1 // symbol -> res
push local 0 // symbol -> sign
call Math.multiply 2
return
// compiling subroutine
function Math.divideRecursively 1
push argument 1 // symbol -> y
push argument 0 // symbol -> x
gt
push argument 1 // symbol -> y
push constant 0
lt
or
not
if-goto L1.5
push constant 0
return
goto L2.5
label L1.5
label L2.5
push argument 0 // symbol -> x
push argument 1 // symbol -> y
push argument 1 // symbol -> y
add
call Math.divideRecursively 2 // subroutine call (function)
pop local 0 // symbol -> q
push argument 0 // symbol -> x
push local 0 // symbol -> q
push local 0 // symbol -> q
add
push argument 1 // symbol -> y
call Math.multiply 2
sub
push argument 1 // symbol -> y
lt
not
if-goto L1.6
push local 0 // symbol -> q
push local 0 // symbol -> q
add
return
goto L2.6
label L1.6
push local 0 // symbol -> q
push local 0 // symbol -> q
add
push constant 1
add
return
label L2.6
// compiling subroutine
function Math.sqrt 3
push constant 0
pop local 1 // symbol -> y
push constant 7
pop local 0 // symbol -> n
label L1.7
push local 0 // symbol -> n
push constant 1
neg
gt
not
if-goto L2.7
push local 1 // symbol -> y
push static 1 // symbol -> powersOfTwo (array)
push local 0 // symbol -> n
add
pop pointer 1
push that 0
add
pop local 2 // symbol -> temp
push local 2 // symbol -> temp
push local 2 // symbol -> temp
call Math.multiply 2
pop local 2 // symbol -> temp
push local 2 // symbol -> temp
push constant 1
neg
gt
not
if-goto L1.8
push local 2 // symbol -> temp
push constant 1
sub
push argument 0 // symbol -> x
lt
not
if-goto L1.9
push local 1 // symbol -> y
push static 1 // symbol -> powersOfTwo (array)
push local 0 // symbol -> n
add
pop pointer 1
push that 0
add
pop local 1 // symbol -> y
goto L2.9
label L1.9
label L2.9
goto L2.8
label L1.8
label L2.8
push local 0 // symbol -> n
push constant 1
sub
pop local 0 // symbol -> n
goto L1.7
label L2.7
push local 1 // symbol -> y
return
// compiling subroutine
function Math.max 0
push argument 0 // symbol -> a
push argument 1 // symbol -> b
gt
not
if-goto L1.10
push argument 0 // symbol -> a
return
goto L2.10
label L1.10
label L2.10
push argument 1 // symbol -> b
return
// compiling subroutine
function Math.min 0
push argument 0 // symbol -> a
push argument 1 // symbol -> b
lt
not
if-goto L1.11
push argument 0 // symbol -> a
return
goto L2.11
label L1.11
label L2.11
push argument 1 // symbol -> b
return
// compiling subroutine
function Math.abs 0
push argument 0 // symbol -> x
push constant 0
lt
not
if-goto L1.12
push argument 0 // symbol -> x
neg
return
goto L2.12
label L1.12
label L2.12
push argument 0 // symbol -> x
return
// compiling subroutine
function Math.mod 1
push argument 0 // symbol -> x
push argument 1 // symbol -> y
call Math.divide 2
pop local 0 // symbol -> res
push argument 0 // symbol -> x
push local 0 // symbol -> res
push argument 1 // symbol -> y
call Math.multiply 2
sub
pop local 0 // symbol -> res
push local 0 // symbol -> res
return
// compiling subroutine
function Math.resetTempBinArray 1
push constant 0
pop local 0 // symbol -> i
label L1.13
push local 0 // symbol -> i
push constant 16
eq
not
not
if-goto L2.13
push static 2 // symbol -> tempBin (array)
push local 0 // symbol -> i
add
push constant 0 // pushing false
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0 // symbol -> i
push constant 1
add
pop local 0 // symbol -> i
goto L1.13
label L2.13
push constant 0
return
// compiling subroutine
function Math.flipTempBinArray 1
push constant 0
pop local 0 // symbol -> i
label L1.14
push local 0 // symbol -> i
push constant 16
eq
not
not
if-goto L2.14
push static 2 // symbol -> tempBin (array)
push local 0 // symbol -> i
add
push static 2 // symbol -> tempBin (array)
push local 0 // symbol -> i
add
pop pointer 1
push that 0
not
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0 // symbol -> i
push constant 1
add
pop local 0 // symbol -> i
goto L1.14
label L2.14
push constant 0
return
// compiling subroutine
function Math.bin2Dec 2
push constant 0
pop local 0 // symbol -> sum
push constant 0
pop local 1 // symbol -> i
label L1.15
push local 1 // symbol -> i
push constant 15
eq
not
not
if-goto L2.15
push static 2 // symbol -> tempBin (array)
push local 1 // symbol -> i
add
pop pointer 1
push that 0
push constant 1 // pushing true
neg // pushing true
eq
not
if-goto L1.16
push local 0 // symbol -> sum
push static 1 // symbol -> powersOfTwo (array)
push local 1 // symbol -> i
add
pop pointer 1
push that 0
add
pop local 0 // symbol -> sum
goto L2.16
label L1.16
label L2.16
push local 1 // symbol -> i
push constant 1
add
pop local 1 // symbol -> i
goto L1.15
label L2.15
push local 0 // symbol -> sum
return
// compiling subroutine
function Math.dec2Bin 0
push argument 0 // symbol -> x
push constant 0
eq
push argument 1 // symbol -> n
push constant 0
lt
or
not
if-goto L1.17
push constant 0
return
goto L2.17
label L1.17
label L2.17
push argument 0 // symbol -> x
push static 1 // symbol -> powersOfTwo (array)
push argument 1 // symbol -> n
add
pop pointer 1
push that 0
gt
push argument 0 // symbol -> x
push static 1 // symbol -> powersOfTwo (array)
push argument 1 // symbol -> n
add
pop pointer 1
push that 0
eq
or
not
if-goto L1.18
push static 2 // symbol -> tempBin (array)
push argument 1 // symbol -> n
add
push constant 1 // pushing true
neg // pushing true
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0 // symbol -> x
push static 1 // symbol -> powersOfTwo (array)
push argument 1 // symbol -> n
add
pop pointer 1
push that 0
sub
push argument 1 // symbol -> n
push constant 1
sub
call Math.dec2Bin 2 // subroutine call (function)
return
goto L2.18
label L1.18
push static 2 // symbol -> tempBin (array)
push argument 1 // symbol -> n
add
push constant 0 // pushing false
pop temp 0
pop pointer 1
push temp 0
pop that 0
push argument 0 // symbol -> x
push argument 1 // symbol -> n
push constant 1
sub
call Math.dec2Bin 2 // subroutine call (function)
return
label L2.18
// compiling subroutine
function Math.bit 0
push static 2 // symbol -> tempBin (array)
push argument 0 // symbol -> i
add
pop pointer 1
push that 0
return
// compiling subroutine
function Math.obtainTwosComplementBin 1
push constant 0 // pushing false
pop local 0 // symbol -> negative
push argument 0 // symbol -> x
push constant 0
lt
not
if-goto L1.19
push constant 1 // pushing true
neg // pushing true
pop local 0 // symbol -> negative
push argument 0 // symbol -> x
neg
pop argument 0 // symbol -> x
goto L2.19
label L1.19
label L2.19
push argument 0 // symbol -> x
call Math.getBinFromDec 1 // subroutine call (function)
pop temp 0
push local 0 // symbol -> negative
not
if-goto L1.20
call Math.flipTempBinArray 0 // subroutine call (function)
pop temp 0
call Math.bin2Dec 0 // subroutine call (function)
push constant 1
add
call Math.getBinFromDec 1 // subroutine call (function)
pop temp 0
push static 2 // symbol -> tempBin (array)
push constant 15
add
push constant 1 // pushing true
neg // pushing true
pop temp 0
pop pointer 1
push temp 0
pop that 0
goto L2.20
label L1.20
label L2.20
push constant 0
return
// compiling subroutine
function Math.getBinFromDec 2
call Math.resetTempBinArray 0 // subroutine call (function)
pop temp 0
push constant 0
pop local 1 // symbol -> bitPos
push constant 0
pop local 0 // symbol -> foundBinPos
label L1.21
push local 1 // symbol -> bitPos
push constant 15
eq
not
not
if-goto L2.21
push static 1 // symbol -> powersOfTwo (array)
push local 1 // symbol -> bitPos
add
pop pointer 1
push that 0
push argument 0 // symbol -> x
lt
push static 1 // symbol -> powersOfTwo (array)
push local 1 // symbol -> bitPos
add
pop pointer 1
push that 0
push argument 0 // symbol -> x
eq
or
not
if-goto L1.22
push local 1 // symbol -> bitPos
pop local 0 // symbol -> foundBinPos
goto L2.22
label L1.22
label L2.22
push local 1 // symbol -> bitPos
push constant 1
add
pop local 1 // symbol -> bitPos
goto L1.21
label L2.21
push argument 0 // symbol -> x
push local 0 // symbol -> foundBinPos
call Math.dec2Bin 2 // subroutine call (function)
pop temp 0
push constant 0
return
// compiling subroutine
function Math.setTempBin 0
push static 2 // symbol -> tempBin (array)
push argument 0 // symbol -> bitPos
add
push argument 1 // symbol -> val
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
