// compiling subroutine
function Screen.init 0
push constant 1 // pushing true
neg // pushing true
pop static 0 // symbol -> currentColor
push constant 0
return
// compiling subroutine
function Screen.clearScreen 2
push static 0 // symbol -> currentColor
pop local 0 // symbol -> temp
push constant 0 // pushing false
call Screen.setColor 1 // subroutine call (function)
pop temp 0
push constant 0
pop local 1 // symbol -> i
label L1.1
push local 1 // symbol -> i
push constant 256
lt
not
if-goto L2.1
push constant 0
push constant 511
push local 1 // symbol -> i
call Screen.drawHorizontalLine 3 // subroutine call (function)
pop temp 0
push local 1 // symbol -> i
push constant 1
add
pop local 1 // symbol -> i
goto L1.1
label L2.1
push local 0 // symbol -> temp
call Screen.setColor 1 // subroutine call (function)
pop temp 0
push constant 0
return
// compiling subroutine
function Screen.setColor 0
push argument 0 // symbol -> b
pop static 0 // symbol -> currentColor
push constant 0
return
// compiling subroutine
function Screen.drawPixel 4
push argument 1 // symbol -> y
push constant 0
lt
push argument 1 // symbol -> y
push constant 255
gt
or
not
if-goto L1.2
push constant 0
return
goto L2.2
label L1.2
label L2.2
push argument 0 // symbol -> x
push constant 0
lt
push argument 0 // symbol -> x
push constant 511
gt
or
not
if-goto L1.3
push constant 0
return
goto L2.3
label L1.3
label L2.3
push constant 16384
push argument 1 // symbol -> y
push constant 32
call Math.multiply 2
add
push argument 0 // symbol -> x
push constant 16
call Math.divide 2
add
pop local 0 // symbol -> addr
push local 0 // symbol -> addr
call Memory.peek 1 // subroutine call (function)
pop local 1 // symbol -> word
push argument 0 // symbol -> x
push constant 16
call Math.mod 2 // subroutine call (function)
pop local 2 // symbol -> bitPos
push local 1 // symbol -> word
call Math.obtainTwosComplementBin 1 // subroutine call (function)
pop temp 0
push local 2 // symbol -> bitPos
push static 0 // symbol -> currentColor
call Math.setTempBin 2 // subroutine call (function)
pop temp 0
call Math.bin2Dec 0 // subroutine call (function)
pop local 3 // symbol -> temp
push constant 15
call Math.bit 1 // subroutine call (function)
push constant 1 // pushing true
neg // pushing true
eq
not
if-goto L1.4
push local 3 // symbol -> temp
push constant 16384
push constant 16384
add
add
pop local 3 // symbol -> temp
goto L2.4
label L1.4
label L2.4
push local 0 // symbol -> addr
push local 3 // symbol -> temp
call Memory.poke 2 // subroutine call (function)
pop temp 0
push constant 0
return
// compiling subroutine
function Screen.getUpdatedWord 2
push argument 0 // symbol -> x
push constant 16
call Math.mod 2 // subroutine call (function)
pop local 0 // symbol -> bitPos
push argument 1 // symbol -> word
call Math.obtainTwosComplementBin 1 // subroutine call (function)
pop temp 0
push local 0 // symbol -> bitPos
push static 0 // symbol -> currentColor
call Math.setTempBin 2 // subroutine call (function)
pop temp 0
call Math.bin2Dec 0 // subroutine call (function)
pop local 1 // symbol -> temp
push constant 15
call Math.bit 1 // subroutine call (function)
push constant 1 // pushing true
neg // pushing true
eq
not
if-goto L1.5
push local 1 // symbol -> temp
push constant 16384
push constant 16384
add
add
pop local 1 // symbol -> temp
goto L2.5
label L1.5
label L2.5
push local 1 // symbol -> temp
return
// compiling subroutine
function Screen.drawLine 7
push constant 0
pop local 0 // symbol -> a
push constant 0
pop local 1 // symbol -> b
push constant 0
pop local 2 // symbol -> diff
push argument 3 // symbol -> y2
push argument 1 // symbol -> y1
sub
pop local 3 // symbol -> dy
push argument 2 // symbol -> x2
push argument 0 // symbol -> x1
sub
pop local 4 // symbol -> dx
push constant 1
pop local 5 // symbol -> incX
push constant 1
pop local 6 // symbol -> incY
push local 3 // symbol -> dy
push constant 0
eq
push local 4 // symbol -> dx
push constant 0
eq
and
not
if-goto L1.6
push argument 0 // symbol -> x1
push argument 1 // symbol -> y1
call Screen.drawPixel 2 // subroutine call (function)
pop temp 0
push constant 0
return
goto L2.6
label L1.6
label L2.6
push local 4 // symbol -> dx
push constant 0
lt
not
if-goto L1.7
push constant 1
neg
pop local 5 // symbol -> incX
push local 4 // symbol -> dx
call Math.abs 1 // subroutine call (function)
pop local 4 // symbol -> dx
goto L2.7
label L1.7
label L2.7
push local 3 // symbol -> dy
push constant 0
lt
not
if-goto L1.8
push constant 1
neg
pop local 6 // symbol -> incY
push local 3 // symbol -> dy
call Math.abs 1 // subroutine call (function)
pop local 3 // symbol -> dy
goto L2.8
label L1.8
label L2.8
push local 3 // symbol -> dy
push constant 0
eq
not
if-goto L1.9
push local 5 // symbol -> incX
push constant 0
lt
not
if-goto L1.10
push argument 2 // symbol -> x2
push argument 0 // symbol -> x1
push argument 1 // symbol -> y1
call Screen.drawHorizontalLine 3 // subroutine call (function)
pop temp 0
goto L2.10
label L1.10
push argument 0 // symbol -> x1
push argument 2 // symbol -> x2
push argument 1 // symbol -> y1
call Screen.drawHorizontalLine 3 // subroutine call (function)
pop temp 0
label L2.10
push constant 0
return
goto L2.9
label L1.9
label L2.9
label L1.11
push local 0 // symbol -> a
push local 4 // symbol -> dx
push constant 1
add
lt
push local 1 // symbol -> b
push local 3 // symbol -> dy
push constant 1
add
lt
and
not
if-goto L2.11
push argument 0 // symbol -> x1
push local 0 // symbol -> a
add
push argument 1 // symbol -> y1
push local 1 // symbol -> b
add
call Screen.drawPixel 2 // subroutine call (function)
pop temp 0
push argument 0 // symbol -> x1
push local 0 // symbol -> a
add
push argument 2 // symbol -> x2
eq
push argument 1 // symbol -> y1
push local 1 // symbol -> b
add
push argument 3 // symbol -> y2
eq
and
not
if-goto L1.12
push constant 0
return
goto L2.12
label L1.12
label L2.12
push local 2 // symbol -> diff
push constant 0
lt
not
if-goto L1.13
push local 0 // symbol -> a
push local 5 // symbol -> incX
add
pop local 0 // symbol -> a
push local 2 // symbol -> diff
push local 3 // symbol -> dy
add
pop local 2 // symbol -> diff
goto L2.13
label L1.13
push local 1 // symbol -> b
push local 6 // symbol -> incY
add
pop local 1 // symbol -> b
push local 2 // symbol -> diff
push local 4 // symbol -> dx
sub
pop local 2 // symbol -> diff
label L2.13
goto L1.11
label L2.11
push constant 0
return
// compiling subroutine
function Screen.drawHorizontalLine 4
push constant 1
neg
pop local 2 // symbol -> edgeStart
push constant 1
neg
pop local 3 // symbol -> edgeEnd
push argument 0 // symbol -> x1
pop local 1 // symbol -> i
push constant 16384
push argument 2 // symbol -> y
push constant 32
call Math.multiply 2
add
pop local 0 // symbol -> base
push argument 1 // symbol -> x2
push argument 0 // symbol -> x1
sub
push constant 16
lt
not
if-goto L1.14
label L1.15
push argument 0 // symbol -> x1
push argument 1 // symbol -> x2
push constant 1
add
lt
not
if-goto L2.15
push argument 0 // symbol -> x1
push argument 2 // symbol -> y
call Screen.drawPixel 2 // subroutine call (function)
pop temp 0
push argument 0 // symbol -> x1
push constant 1
add
pop argument 0 // symbol -> x1
goto L1.15
label L2.15
push constant 0
return
goto L2.14
label L1.14
label L2.14
label L1.16
push local 2 // symbol -> edgeStart
push constant 0
lt
not
if-goto L2.16
push local 1 // symbol -> i
push constant 16
call Math.mod 2 // subroutine call (function)
push constant 0
eq
not
if-goto L1.17
push local 1 // symbol -> i
pop local 2 // symbol -> edgeStart
goto L2.17
label L1.17
push local 1 // symbol -> i
push argument 2 // symbol -> y
call Screen.drawPixel 2 // subroutine call (function)
pop temp 0
label L2.17
push local 1 // symbol -> i
push constant 1
add
pop local 1 // symbol -> i
goto L1.16
label L2.16
push argument 1 // symbol -> x2
pop local 1 // symbol -> i
label L1.18
push local 3 // symbol -> edgeEnd
push constant 0
lt
not
if-goto L2.18
push local 1 // symbol -> i
push constant 16
call Math.mod 2 // subroutine call (function)
push constant 0
eq
not
if-goto L1.19
push local 1 // symbol -> i
push argument 2 // symbol -> y
call Screen.drawPixel 2 // subroutine call (function)
pop temp 0
push local 1 // symbol -> i
pop local 3 // symbol -> edgeEnd
goto L2.19
label L1.19
push local 1 // symbol -> i
push argument 2 // symbol -> y
call Screen.drawPixel 2 // subroutine call (function)
pop temp 0
label L2.19
push local 1 // symbol -> i
push constant 1
sub
pop local 1 // symbol -> i
goto L1.18
label L2.18
push local 2 // symbol -> edgeStart
push constant 16
call Math.divide 2
pop local 1 // symbol -> i
push local 3 // symbol -> edgeEnd
push constant 16
call Math.divide 2
pop local 3 // symbol -> edgeEnd
label L1.20
push local 1 // symbol -> i
push local 3 // symbol -> edgeEnd
lt
not
if-goto L2.20
push local 0 // symbol -> base
push local 1 // symbol -> i
add
push static 0 // symbol -> currentColor
call Memory.poke 2 // subroutine call (function)
pop temp 0
push local 1 // symbol -> i
push constant 1
add
pop local 1 // symbol -> i
goto L1.20
label L2.20
push constant 0
return
// compiling subroutine
function Screen.drawRectangle 2
push argument 1 // symbol -> y1
push constant 0
lt
push argument 1 // symbol -> y1
push constant 255
gt
or
push argument 3 // symbol -> y2
push constant 0
lt
or
push argument 3 // symbol -> y2
push constant 255
gt
or
not
if-goto L1.21
push constant 0
return
goto L2.21
label L1.21
label L2.21
push argument 0 // symbol -> x1
push constant 0
lt
push argument 0 // symbol -> x1
push constant 511
gt
or
push argument 2 // symbol -> x2
push constant 0
lt
or
push argument 2 // symbol -> x2
push constant 511
gt
or
not
if-goto L1.22
push constant 0
return
goto L2.22
label L1.22
label L2.22
push constant 0
pop local 1 // symbol -> i
push argument 3 // symbol -> y2
push argument 1 // symbol -> y1
sub
pop local 0 // symbol -> dy
label L1.23
push local 1 // symbol -> i
push local 0 // symbol -> dy
lt
not
if-goto L2.23
push argument 0 // symbol -> x1
push argument 1 // symbol -> y1
push local 1 // symbol -> i
add
push argument 2 // symbol -> x2
push argument 1 // symbol -> y1
push local 1 // symbol -> i
add
call Screen.drawLine 4 // subroutine call (function)
pop temp 0
push local 1 // symbol -> i
push constant 1
add
pop local 1 // symbol -> i
goto L1.23
label L2.23
push constant 0
return
// compiling subroutine
function Screen.drawCircle 3
push argument 2 // symbol -> r
neg
pop local 0 // symbol -> dy
label L1.24
push local 0 // symbol -> dy
push argument 2 // symbol -> r
push constant 1
add
lt
not
if-goto L2.24
push argument 0 // symbol -> x
push argument 2 // symbol -> r
push argument 2 // symbol -> r
call Math.multiply 2
push local 0 // symbol -> dy
push local 0 // symbol -> dy
call Math.multiply 2
sub
call Math.sqrt 1 // subroutine call (function)
sub
pop local 1 // symbol -> ax
push argument 0 // symbol -> x
push argument 2 // symbol -> r
push argument 2 // symbol -> r
call Math.multiply 2
push local 0 // symbol -> dy
push local 0 // symbol -> dy
call Math.multiply 2
sub
call Math.sqrt 1 // subroutine call (function)
add
pop local 2 // symbol -> bx
push local 1 // symbol -> ax
push argument 1 // symbol -> y
push local 0 // symbol -> dy
add
push local 2 // symbol -> bx
push argument 1 // symbol -> y
push local 0 // symbol -> dy
add
call Screen.drawLine 4 // subroutine call (function)
pop temp 0
push local 0 // symbol -> dy
push constant 1
add
pop local 0 // symbol -> dy
goto L1.24
label L2.24
push constant 0
return
